<!DOCTYPE html>
<html>
  <head>
  </head>

<center><body>
<div class="enter" style="height:950px;background-image:url('http://www.wallpaperup.com/uploads/wallpapers/2015/10/24/823560/c63b13aae76f9711bbe1721657fb4b12.jpg'); background-repeat: no-repeat; background-size: contain; background-position:center;">
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs" style="width:350px;text-align:center;">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password, required: true, hint: ("minimum #{@minimum_password_length}" if @minimum_password_length) %>
    <%= f.input :password_confirmation, required: true %>
  </div>
<br>
  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>
<br>

<%= render "devise/shared/links" %>
</div>
</body></center>
</html>